@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #body::before {
    background: url("./bgs/bg1.svg");
  }

  body {
    @apply bg-[#012233] lg:cursor-none overflow-hidden;
  }

  body:hover #trailer,
  body:hover #trailer-i {
    opacity: 1;
  }

  #navbar {
    @apply overflow-x-visible !important;
  }
}